<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} · Designing Parametric Sources</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/site.css' | url }}">
    <script src="{{ '/assets/filters.js' | url }}" defer></script>
    <script src="{{ '/assets/image-dialog.js' | url }}" defer></script>
  </head>
  <body>
    <header class="site-nav">
      <a class="site-name" href="{{ '/' | url }}">
        Designing Parametric Sources
      </a>

      <nav aria-label="Primary navigation">
{#      
        <a href="{{ '/tutorials/' | url }}">Tutorials</a>
        <a href="{{ '/how-to/' | url }}">How-to</a> 
#}
        <a href="{{ '/explanation/' | url }}">Explanation</a>
        <a href="{{ '/reference/specimens/' | url }}">Reference</a>
      </nav>
    </header>

<main>
  <div class="page-shell">
    {% include "site-tree.njk" %}

    <div class="page-content">
      {{ content | safe }}
    </div>
  </div>
</main>
  </body>
</html>