{% set project = projectAxisMappings.byId[projectId] %}
{% set designAxis = projectDesignAxes.byProjectAndTag[projectId][designAxisId] %}

<header class="site-header axis-header">
  <p class="eyebrow">Reference / {{ project.name }} / Design axis</p>
  <h1>{{ designAxis.tag }}</h1>
  <p>{{ designAxis.summary }}</p>
</header>

<div class="intro-content axis-page">
  {{ designAxis.html | safe }}
</div>